<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gym registration</title>
                   
                
     style 
          include ../static/style.css   
</head>
<body class="background">
<nav>
    <ul>
        <li><a>Home</a></li>
        <li><a>Contact</a></li>
        <li><a>Services</a></li>
        <li><a>About</a></li>
    </ul>
</nav>
<div class="container ">
    <h1>Get this GYM Membership for 60$ - Fill This Form Now</h1>
    <form action="/" method="POST" id="contact">
        <input type="text" name="name" id="name" placeholder=" Enter your name">
        <input type="text" name="age" id="name" placeholder=" Enter your age">
        <input type="text" name="gender" id="name" placeholder=" Enter your gender">
        <input type="email" name="email" id="name" placeholder=" Enter your Email id">
        <input type="number" name="phone" id="name" placeholder=" Enter your phone no. " >
        <textarea name="address" id="name" cols="30" rows="7"  placeholder=" Enter your Address"></textarea>
        <textarea name="more" id="name" cols="30" rows="7"  placeholder="  More About You"></textarea>
        <button class="btn">Submit</button>
    </form>
</div>
   
</body>
</html>
